nav {
    height: 80px;
    background: black;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
}
nav .navbar-brand {
    color: white;
    transition: .15s;
}
nav .navbar-brand:hover {
    color: darkred;
}

nav li a {
    color: darkred;
    text-align: center;
    transition: .15s;
}
nav li a:hover {
    color: #fff3cd;
}

@media (max-width: 575.98px) {
    nav {
        padding: 0 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    nav .container {
        display: flex;
        justify-content: center !important;
        align-items: center; flex-direction: column !important;
        margin: 0 !important; padding: 0 !important;
    }
    nav .container > a.navbar-brand {
        margin: 0.5rem 0 0; padding: 0;
    }
    nav .container > div ul {
        display: flex;
        justify-content: space-around!important;
        flex-direction: row !important;
    }
    nav .container > div ul li {
        margin: 0 10px;
    }
}